body {
  text-align: center;
  background-image: url('chris-briggs-FobzAZJGM9M-unsplash.jpg');
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  /* color: white; */
}

.App {
  /* position: absolute; */
  min-height: 705.6px;
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.5));
  padding: 200px;
}

